a{
    color: red;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    text-decoration: underline;
}
h1{text-align: center;
 }
 img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto; 
}
.bold{
        font-weight: bold;
}
li{
    font-weight: normal;
}
.underline{
    text-decoration: underline;
}
.homebg{
    background-image: url('../old\ trafford.webp');
    background-position: center;
    background-size: cover;
}
body{
    background-color: white;
}
.highlight{
    background-color: rgba(249, 208, 208, 0.7);
}
.box1{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.special{
    font-family: sans-serif;
}
.div3{
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif;
}